################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pdb
/TriangleIDer/obj/Debug
/TriangleIDer/bin/Debug
